:root {
  --background: #2B2B2B;
  --text-primary: #A9B7C6;
  --keyword: #CC7832;
  --type: #9876AA;
  --monitoring: #BBB529;
  --logging: #6A8759;
  --button-bg: #3C78D8;
  --button-hover: #2E5CB8;
  --font-main: "JetBrains Mono", monospace;
  --table-header: #3C3F41;
  --table-background: #313335;
  --table-border: #4E5254;
  --table-text: #A9B7C6;
  --table-hover: #45494A;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--font-main);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 0 25vw;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-top: 40px;
}

.button {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border: 1px solid;
  border-radius: 6px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: background 0.3s, transform 0.1s;
  width: 200px;
}

.button-primary {
  background: #555555;
  border-color: #444444;
}

.button-secondary {
  background: #777777;
  border-color: #666666;
}

.button:active {
  transform: scale(0.95);
}

.login-box {
  background: var(--background);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--text-primary);
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  color: #ffffff;
}

.error-message {
  color: var(--error-text);
  text-align: center;
  margin-bottom: 1rem;
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}

.input-label {
  margin-bottom: 0.5rem;
}

.input-field {
  padding: 0.5rem;
  border: 2px solid var(--text-primary);
  background-color: var(--background);
  color: var(--text-primary);
  border-radius: 4px;
  width: 100%;
}

.input-field:focus {
  outline: none;
  border-color: var(--keyword);
  box-shadow: 0 0 8px var(--keyword);
}

.input-field::placeholder {
  color: #bbbbbb;
}

.submit-button {
  background-color: var(--keyword);
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  width: 100%;
  margin-top: 1.5rem;
}

.submit-button:hover {
  background-color: #bc6e2c;
}

.table-container {
  width: 600px;
  height: 400px;
  overflow-y: auto;
  border: 1px solid var(--table-border);
  margin: 20px auto;
  background: var(--table-background);
}

.reservations-table {
  width: 100%;
  border-collapse: collapse;
  color: var(--table-text);
}

.reservations-table th, .reservations-table td {
  border: 1px solid var(--table-border);
  padding: 8px;
  text-align: left;
}

.reservations-table th {
  background-color: var(--table-header);
}

.reservations-table tr:hover {
  background-color: var(--table-hover);
}

.no-reservations {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  color: var(--text-primary);
}

.loading-text {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: gray;
}
